* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
    color:rgb(44, 44, 44);
}


label {
    display:block;
    font-weight: 100;
}

input {
    height:30px;
}

input, textarea {
    border: none;
    border-bottom: 1px solid rgb(44, 44, 44);
}

form div {
margin-top:10px; 
}

.container{
margin:20px;
width:400px;
}



.nickname {
    display:none;
}

button {
border:none;
display: block;
padding: 20px 0;
background-color:coral;
margin:0;
}
#contactForm input, #contactForm textarea, 
button  {
width:100%;
margin:5px 0;
}